<div>
    <h2 id="page-heading">
        <span>Service Users</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-service-user" [routerLink]="['/service-user/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Service User
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="serviceUsers?.length === 0">
        <span>No serviceUsers found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="serviceUsers?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="username"><span>Username</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="age"><span>Age</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="phone"><span>Phone</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="creditCard"><span>Credit Card</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                <tr *ngFor="let serviceUser of serviceUsers ;trackBy: trackId">
                    <td><a [routerLink]="['/service-user', serviceUser.id, 'view']">{{ serviceUser.id }}</a></td>
                    <td>{{ serviceUser.username }}</td>
                    <td>{{ serviceUser.age }}</td>
                    <td>{{ serviceUser.phone }}</td>
                    <td>{{ serviceUser.creditCard }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/service-user', serviceUser.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/service-user', serviceUser.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(serviceUser)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
