<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="serviceUser">
            <h2><span>Service User</span> {{ serviceUser.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Username</span></dt>
                <dd>
                    <span>{{ serviceUser.username }}</span>
                </dd>
                <dt><span>Age</span></dt>
                <dd>
                    <span>{{ serviceUser.age }}</span>
                </dd>
                <dt><span>Phone</span></dt>
                <dd>
                    <span>{{ serviceUser.phone }}</span>
                </dd>
                <dt><span>Credit Card</span></dt>
                <dd>
                    <span>{{ serviceUser.creditCard }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/service-user', serviceUser.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
