<div>
    <h2 id="page-heading">
        <span>Tickets</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-ticket" [routerLink]="['/ticket/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Ticket
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="tickets?.length === 0">
        <span>No tickets found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="tickets?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="flightNumber"><span>Flight Number</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="username"><span>Username</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="purchased"><span>Purchased</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="reservationId"><span>Reservation Id</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="seatNumber"><span>Seat Number</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="maxKg"><span>Max Kg</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="price"><span>Price</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="user.id"><span>User</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="flight.id"><span>Flight</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                <tr *ngFor="let ticket of tickets ;trackBy: trackId">
                    <td><a [routerLink]="['/ticket', ticket.id, 'view']">{{ ticket.id }}</a></td>
                    <td>{{ ticket.flightNumber }}</td>
                    <td>{{ ticket.username }}</td>
                    <td>{{ ticket.purchased | date:'medium' }}</td>
                    <td>{{ ticket.reservationId }}</td>
                    <td>{{ ticket.seatNumber }}</td>
                    <td>{{ ticket.maxKg }}</td>
                    <td>{{ ticket.price }}</td>
                    <td>
                        <div *ngIf="ticket.user">
                            <a [routerLink]="['/service-user', ticket.user?.id, 'view']" >{{ ticket.user?.id }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="ticket.flight">
                            <a [routerLink]="['/flight', ticket.flight?.id, 'view']" >{{ ticket.flight?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/ticket', ticket.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/ticket', ticket.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(ticket)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
