<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="payment">
            <h2><span>Payment</span> {{ payment.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Date</span></dt>
                <dd>
                    <span>{{ payment.date }}</span>
                </dd>
                <dt><span>User</span></dt>
                <dd>
                    <div *ngIf="payment.user">
                        <a [routerLink]="['/service-user', payment.user?.id, 'view']">{{ payment.user?.id }}</a>
                    </div>
                </dd>
                <dt><span>Reservation</span></dt>
                <dd>
                    <div *ngIf="payment.reservation">
                        <a [routerLink]="['/reservation', payment.reservation?.id, 'view']">{{ payment.reservation?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/payment', payment.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
