<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="passenger">
            <h2><span>Passenger</span> {{ passenger.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Name</span></dt>
                <dd>
                    <span>{{ passenger.name }}</span>
                </dd>
                <dt><span>Age</span></dt>
                <dd>
                    <span>{{ passenger.age }}</span>
                </dd>
                <dt><span>Flight</span></dt>
                <dd>
                    <div *ngIf="passenger.flight">
                        <a [routerLink]="['/flight', passenger.flight?.id, 'view']">{{ passenger.flight?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/passenger', passenger.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
